@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* body {
	background: linear-gradient(-90deg, #CC72A0, #e73c7e, #EDCADF, #DDA2BF);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;

  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

:root {
  --primary-color1: #FB6F92;
  --primary-color2: #FFBFAB;
  --primary-color3: #FFB3C6;
  --primary-color4: #FFC2D1;
  --primary-color5: #FFE5EC;
}



body {
  font-family: "poppins";
}

/*------------------------------------------Font Settings ----------------------------------- */
.sectionheadings {
  /* font-family: 'Dancing Script'; */
  font-family: 'Poppins';
  font-size: 2.5vw;
  padding-top: 160px;
  padding-bottom: 20px;
}



/*------------------------------------------ header css Start----------------------------------- */
nav .nav__link {
  transition: 0.3s ease;
  /* background: #3fa46a; */
  color: white;
  font-size: 25px;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 5px;
  font-size: 17px;
}

.nav__link:hover {
  /* border-top: 4px solid #CC72A0; */
  border-bottom: 4px solid #CC72A0;
  padding: 6px 0;
}

.dropdown:hover {
  color: black !important;
}



/*------------------------------------------ header css Ends Here----------------------------------- */

.mobilecarousels{
  display:none;
}



.card{
  padding:50px;
}

/*------------------------------------------ Aligning the cards ----------------------------------- */

.aligningcards {
  display: flex !important;
  justify-content: center;

}

.aligningcards div {
  margin: 4px;

}

@media (max-width: 600px) {
  .card {
    /* width:25rem !important; */
    width: 60% !important;
  }

  .aligningcards {
    display: flex;
    flex-direction: column;
  }

  .navbar-toggler {
    /* display: none; */
  }

  /* .container-fluid {
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
  } */

  .sectionheadings {
    font-size: 5vw;
    padding-top:45px;
  }




}



.getintouch {
  /* display:flex;
  align:center;
  justify-content: center;
  flex-direction: column;
  max-width: 2000px;*/
  border: 10px solid black;
  text-align: center;

}

.formheading{
  font-size: 2.5vw;
}

/* border and common stuff */

.border-rad {
  border-radius: 13px;
}

.git-image {
  border-radius: 200px 10px 0 0;
}

/* ==========================Features CSS start from here =========================== */




.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* -----------------------my own classes */

.price-font {
  font-size: 20px;
}

/* main bootstrap changes ------------------------------------ */

.row {
  --bs-gutter-x: 0rem;
}



.textarea-message {
  margin-bottom: 15px;
}




.no-style-button {
  all: unset;
  cursor: pointer;
}


/* This style with fix the form of get in touch */
.form-custom-display {
  border-width: 0;
}

.shadow-border-radius {
  border-radius: 0 10px 10px 0;
}


.image-border {
  border-radius: 10px 0px 0px 10px;
}



/* responsive video */
video {
  width: 100%;
  height: auto;
}


/* main page text starts from here */
.mainpage--text {

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.mainpage__heading {
  font-size: 3vw;
  opacity: 0.9;
  margin-bottom: 20px;
}

.mainpage__button {
  margin-top: 20px;
  padding: 15px 35px 15px 35px;
  border: 1px solid var(--primary-color1);
  background-color: var(--primary-color3);

}
.button__link{
  text-decoration: none;
  color: black;
}


.mainpage__button:hover {
  background-color: var(--primary-color1);
}

.mainpage--text h1 p button {
  margin-top: 30px;
  margin-bottom: 30px;
}


/* main Sections */
.main--section div {
  /* border: 2px solid red; */
}


.howwework--img {
  max-width: 200px;
  /* border:2px solid orange; */
  margin: auto;
  width: 100%;
  height: auto;
}


.main--section {
  max-width: 1300px;
}


body section {
  margin: auto;
}

/* .card {
  box-shadow: 2px 3px var(--primary-color3);
  padding: 30px;
} */

.card:hover {
  transform: translateY(10px);
  transition: 0.2s;

  
}


.form-div{
  padding: 100px 0px 100px 0px;
  
}

.form-bg{
  background-color: var(--primary-color4);

}
.form{
  padding: 30px 0px 30px 0px;
  /* border:1px solid black; */
  width:70%;
  margin:auto;

}
.form label{
  margin-top: 30px;
  margin-bottom: 5px;
}


/* featured images */
#carouselExampleAutoplaying{
  width:100%;
  /* height:720px; */
  /* border:1px solid red; */
  /* height:500px; */
  margin:auto;
}

#carouselExampleAutoplaying img{
  width:440px;
  height:440px;
  border-radius: 10px;

  margin:auto;
  /* height:; */
}

/* this sections handles all the responsiveness of the website */


/* ------------------dealing with main page  text */
@media screen and (max-width: 600px) {
  .mainpage--text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .mainpage__heading {
    font-size: 6vw;
  }

  .mainpage__slogan {
    font-size: 2vw;
  }


  .mainpage__button {
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    border: 1px solid var(--primary-color1);
    background-color: var(--primary-color3);

  }

  /* ----------------how we work responsiveness */
  .card {
    margin: auto !important;
    margin-top: 40px !important;
    width: 80% !important;
   

  }

  .sectionheadings{
    font-size: 7vw;
    margin-top:40px;

  }

  .logo{
  width: 220px;
  height:auto;

  /* width: ; */
}

.mainpage__heading{
  font-size: 30px;

}

.mainpage__slogan{
  font-size: 15px;
}

.carousel-item{
/* width:500px; */
height:465px;

}

video{
  transform: scale(3);
  height:465px;
  margin-left:200px;

}

.formheading{
  font-size: 7vw;
}



/* hiding desktop carousels */
.desktopcarousels{
  display:none;
}
.mobilecarousels{
  display:block;
}
}

