@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/* body {
	background: linear-gradient(-90deg, #CC72A0, #e73c7e, #EDCADF, #DDA2BF);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;

  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

/*------------------------------------------Font Settings ----------------------------------- */
.sectionheadings {
  font-family: 'Dancing Script';
  font-size: 4vw;
  padding: 15px 0px 5px 0px;
}


/*------------------------------------------ header css Start----------------------------------- */
nav .nav__link {
  transition: 0.3s ease;
  /* background: #3fa46a; */
  color: white;
  font-size: 25px;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 5px;
  font-size: 17px;
}

.nav__link:hover {
  border-top: 4px solid #CC72A0;
  border-bottom: 4px solid #CC72A0;
  padding: 6px 0;
}

.dropdown:hover {
  color: black !important;
}





/*------------------------------------------ header css Ends Here----------------------------------- */







/*------------------------------------------ Aligning the cards ----------------------------------- */

.aligningcards {
  display: flex !important;
  justify-content:center;

  /* margin : 20px; */
}

.aligningcards div {
  margin: 10px;

}

@media (max-width: 600px) {
  .card {
    /* width:25rem !important; */
    width: 100% !important;
  }

  .aligningcards {
    display: flex;
    flex-direction: column;

  }

  .navbar-toggler {
    display: none;
  }

  .container-fluid {
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;

  }

  .sectionheadings {
    font-family: 'Dancing Script';
    font-size: 8vw;
    padding: 15px 0px 5px 0px;
  }


}



.getintouch {
  /* display:flex;
  align:center;
  justify-content: center;
  flex-direction: column;
  max-width: 2000px;*/
  border: 10px solid black;
  text-align: center;

}
/* border and common stuff */

.border-rad{
  border-radius: 13px;
}

.git-image{
  border-radius: 200px     10px      0           0;
}
/* ==========================Features CSS start from here =========================== */




.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* -----------------------my own classes */

.price-font{
  font-size: 20px;
}

/* main bootstrap changes ------------------------------------ */

.row {
  --bs-gutter-x: 0rem;
}



.textarea-message{
margin-bottom: 15px;
}



/* 
hr {
  background: repeating-linear-gradient(to right, red,yellow, #CC72A0);
  border: 0;
  height: 1px;
  padding: 1px;
} */


/* hr {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 1s ease infinite;
	height: 1px;
  padding:2px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.no-style-button {
  all: unset;
  cursor: pointer;
}